.container {
   padding: 20px;
}

.label {
    margin-right: 25px;
    display: inline-flex;
    align-items: center;

    input[type='radio'] {
        font-size: 17px;
        width: 1em;
        height: 1em;
        margin-right: 6px;
    }

}
